<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %> </title>
</head>
<body>
    <h4>Volver al <a href="/">inicio</a></h4>
  <img
    src="/images/curso1.png"
    alt="triangle with all three sides equal"
    height="100"
    width="100" 
    style="height: 100em; width: auto;">
</body>
</html>