<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Home</title>
</head>
<body>

  <h4>Ver ejemplo <a href="/muestra">Aquí</a></h4>
  <div class="pentagono">
    
    <svg id="svgContainer" height="300" width="350" style="position: absolute; top:5em; left: 24em ">            
      <polygon id="poligono" points="100 90, 187 42, 272 90, 272 184, 187 233, 100 184" style="fill:#cac4a7; stroke:#e5e5e5; stroke-width:15;"></polygon>
      <text x="120" y="110">curso</text>
      <text x="120" y="132"><%= name[0]%></text>
    </svg>

    <% let x = 0;%>

    <% for( let i = 1; i < name.length; i++ ) { %>
      <% let cont = 0 %>
      <% for( let j = 0; j < cursos.length; j++ ) { %>      
        <% for( let k = 0; k < cursos[j].requires.length; k++ ) { %>
          <% if (cursos[j].requires[k] == name[i]) { %>
           <% cont = cont+1 %> 
          <% } %>
        <% } %>
       
      <% } %>
      <% y = 24+(6*Math.pow(-1,cont)) %> 
      <% x = x+10  %>
      <svg id="svgContainer" height="300" width="350" style="position: absolute; top:  <%= 5+x %>em; left: <%= y %>em  ">            
        <polygon id="poligono" points="100 90, 187 42, 272 90, 272 184, 187 233, 100 184" style="fill:#cac4a7; stroke:#e5e5e5; stroke-width:15;"></polygon>
        <text x="120" y="110">curso</text>
        <text x="120" y="132"><%= name[i]%></text>
      </svg>

    <% } %>

  </div>
 
  
</body>
</html>