*{
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e5e5e5;
}

a {
  color: #00B7FF;
}

.pentagono{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 10em;
  left: 10em;
}
