body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e5e5e5;
}

a {
  color: #00B7FF;
}

.pentagono{
  display: flex;
  margin: auto
}
.pentagono .text{
  position: absolute;
  z-index: 1;
  top: 3em;
  left: 7em;
}
